.c-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 110px;
  background-color: palette(primary);

  @include mq($md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.c-cta__icon {
  margin-right: 50px;
}

.c-cta__content {
  display: flex;
  align-items: center;
  @include font(x-large, 74, 700);
  color: palette(yellow-color);
  text-shadow: 0 5px 4px rgba(0, 0, 0, 0.15);
}