button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.c-primary-button {
  display: inline-block;
}

.c-primary-button--outline {

}

.c-primary-button--around {
  padding: 18px 103px;
  border-radius: 50px
}

.c-primary-button--icon-left {
  position: relative;
  padding-left: 44px;

}

.c-primary-button__icon {

}

.c-primary-button--load-more {

}

.is-disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

.c-primary-button--bordered {

}

.c-primary-button--small {

}

.c-primary-button--yellow {
  background-color: palette(yellow-color);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}


.c-primary-button--shadow {


}