
.c-post {
  padding: 30px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.c-post__cat{
  @include font(l-large, 36, 700);
  text-transform: uppercase;
}

.c-post__title {
  @include font(l-large, 36, 700);
  margin-bottom: 20px;
}

.c-post__date {
  @include font(mid, 30, 400);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.c-post__content {
  @include font(mid, 30, 400);
}