.c-primary-menu {
  position: relative;
  display: inline-block;

  ul {
    display: flex;

    &.sub-menu {
      flex-direction: column;
    }

    li {
      padding: 25px;
      text-transform: uppercase;
    }
  }


  /*-----------------
    Sub Menu
  ------------------*/
  /* Dropdown Button */
  .c-primary-menu__sub-menu-btn {
    color: palette(primary);
    font-size: 16px;

    &:after {
      content: url("/wp-content/themes/u_work/img/icons/nav_down.svg");
    }

    &:hover,
    &focus {
      background-color: #2980B9;
    }
  }

  /* Dropdown Content (Hidden by Default) */
  .sub-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;

      &:hover {
        background-color: #ddd
      }
    }
  }

  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display: block;
  }
}