/* ==========================================================================
   Config settings
   ========================================================================== */

//  Main container width
$container-width: 1230;
$container-width-wide: 1280;

// Default border radius values
$border-radius-small: 3;
$border-radius-medium: 8;
$border-radius-large: 16;

// Predefined breakpoint
$xl: 1200;
$lg: 992;
$md: 768;
$sm: 576;

$laptop: 1440;

$wide: 75em;


